# Ignorar arquivos de banco de dados (LGPD / Segurança)

*.sqlite3

# Ignorar pastas temporárias do Python (lixo de sistema)
__pycache__/
*.pyc

# Ignorar ambientes virtuais (caso você crie um no futuro)
venv/
.env/